/* расположение 2ух противников на экране */

.players3 {
    max-width: 100%;
    /* margin: 0 auto; */
    display: none;
    flex-direction: row;
    justify-content: space-around;
}


/* расположение 3ех противников на экране */

.players4 {
    max-width: 100%;
    display: none;
}

.wrap34 {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.op2 {
    transform: rotate(-90deg);
    position: fixed;
    left: -124px;
    float: left;
}

.opponent3 {
    transform: rotate(90deg);
    position: fixed;
    right: -124px;
}

.opponent1 {
    display: none;
}

.name_pos2 {
    position: fixed;
    left: 55px;
    top: 20px;
    z-index: 50;
}

.name_pos3 {
    position: fixed;
    right: 65px;
    top: 20px;
    z-index: 50;
}