* {
    font-family: 'Chango', cursive;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #DD2929 url(../imgs/bgrnd.png);
    position: fixed;
    width: 100%;
}

.wrap_content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
}

.red7 {
    color: #FFFFFF;
    font-size: 550px;
    filter: drop-shadow(10px 8px 1px #000000);
    /* position: absolute; */
    /* margin: 0 auto; */
    width: 40%;
    display: flex;
    /* height: 40%; */
    justify-content: center;
    align-items: stretch;
    /* font-family: 'Roboto', sans-serif; */
}

.red {
    justify-content: center;
    align-items: stretch;
    display: flex;
    /* margin: 0 auto; */
    /* height: 40%; */
    width: 40%;
    background-size: 50% auto;
    /* text-align: center; */
    /* Выравнивание по центру */
}

.regist {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 22px;
    filter: drop-shadow(10px 8px 1px #000000);
    padding: 2% 4% 2% 4%;
    width: 28%;
    height: 50%;
    display: none;
    justify-content: space-around;
    flex-direction: column;
}

.enter__name {
    display: flex;
}

.enter__password {
    display: none;
}

.num__opponents {
    display: none;
}

.private {
    display: none;
}

.generation__code {
    display: none;
}

.code__game {
    display: none;
}

.enter__game {
    display: none;
}

.players_count {
    display: none;
}

.text-reg {
    margin-bottom: 5%;
    margin-top: 0px;
    display: block;
    font-size: 24px;
    margin: 0 auto;
    width: 85%;
}

form {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: 70px;
    display: block;
}

button {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 22px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 85%;
    height: 70px;
    display: block;
    color: rgb(27, 27, 27);
    filter: drop-shadow(10px 8px 1px #000000);
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    outline: none;
}

button:hover {
    background-color: #070707;
    color: rgb(255, 255, 255);
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

button:active {
    background-color: #070707;
    color: rgb(255, 255, 255);
}

.b-text {
    /* filter: drop-shadow(0px 0px 0px #444444); */
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin: 0px 0 0 0;
    /* display: block; */
}

.num {
    font-family: Chango;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.input__name {
    border-radius: 20px;
    width: 85%;
    height: 70px;
    /* border-top: 0px; */
    border-left: 0px;
    border-right: 0px;
    margin-left: 7%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
}

.settings {
    transform: rotate(360deg);
    animation-name: earth;
    animation-duration: 15s;
    /* animation-timing-function: linear; */
    animation-iteration-count: infinite;
    /* animation-direction: normal;
    animation-delay: 0;
    animation-play-state: running;
    animation-fill-mode: forwards; */
}

@keyframes earth {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.code {
    /* font-family: Chango; */
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #1C1C1C;
    text-align: center;
}

a {
    text-decoration: none;
}